Repository dcooney/Instant-Images: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint, php

lefthook.yml:

# https://github.com/evilmartians/lefthook/tree/master/docs

pre-commit:
   parallel: true
   commands:
      eslint:
         glob: "*.{js,jsx,ts,tsx}"
         run: npx eslint {staged_files} --fix
      prettier:
         glob: "*.{js,jsx,ts,tsx,md,html,json,yml}"
         run: npx prettier {staged_files} --write
      stylelint:
         glob: "*.{css,scss}"
         run: npx stylelint {staged_files} --fix
      php:
         glob: "*.php"
         run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

Final launch prep changes.
  README.txt
  dist/js/instant-images-block.js
  dist/js/instant-images-block.min.js
  dist/js/instant-images-media.js
  dist/js/instant-images-media.min.js
  dist/js/instant-images.js
  dist/js/instant-images.min.js
  instant-images.php
  lang/instant-images.pot
  lefthook.yml
  package.json
  src/js/components/PhotoList.js
  src/js/functions/buildURL.js
  src/js/functions/getErrorMessage.js
Due: eslint, prettier, php

FInal fixes and removing console log
  README.txt
  dist/js/instant-images-block.js
  dist/js/instant-images-block.min.js
  dist/js/instant-images-media.js
  dist/js/instant-images-media.min.js
  dist/js/instant-images.js
  dist/js/instant-images.min.js
  instant-images.php
  lang/instant-images.pot
  src/js/components/PhotoList.js
  src/js/components/Sponsor.js
Due: eslint, prettier, php

Adding fix for unsplash search results
  dist/js/instant-images-block.js
  dist/js/instant-images-block.min.js
  dist/js/instant-images-media.js
  dist/js/instant-images-media.min.js
  dist/js/instant-images.js
  dist/js/instant-images.min.js
  lang/instant-images.pot
  src/js/components/PhotoList.js
Due: eslint, prettier

Updated deploy scripts
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Due: prettier

Updated deploy script
  package.json
Due: prettier

Readme update.
  .distignore
  README.txt
Due: none

Adding tempory fix for pexels API issues.
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  src/js/block/components/blockLoader.js
  src/js/components/PhotoList.js
  src/js/functions/buildURL.js
  src/js/functions/deprecated/getHeaders.js
  src/js/functions/getHeaders.js
  src/js/functions/getProp.js
  src/js/functions/pexels.js
  src/js/index.js
  src/js/media-router.js
Due: eslint, prettier

Version bumps
  README.txt
  dist/js/instant-images-block.js
  dist/js/instant-images-block.min.js
  dist/js/instant-images-media.js
  dist/js/instant-images-media.min.js
  dist/js/instant-images.js
  dist/js/instant-images.min.js
  instant-images.php
  src/js/constants/API.js
  src/js/functions/getHeaders.js
Due: eslint, prettier, php

Adding headers to api lightbox
  dist/js/instant-images-block.js
  dist/js/instant-images-block.min.js
  dist/js/instant-images-media.js
  dist/js/instant-images-media.min.js
  dist/js/instant-images.js
  dist/js/instant-images.min.js
  src/js/components/APILightbox.js
Due: eslint, prettier

Readme update
  README.txt
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier

Update FUNDING.yml
  .github/FUNDING.yml
Due: prettier

Adding polylang support and removing upgrade notice
  api/download.php
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  instant-images.php
  src/js/components/Photo.js
  src/js/components/PhotoList.js
  src/js/components/UpgradeNotice.js
Due: eslint, prettier, php

Removing echo
  api/download.php
Due: php

Adding initial openverse support and image extension functionality
  api/download.php
  dist/css/instant-images.css
  dist/img/openverse.svg
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  instant-images.php
  src/img/logos/openverse.svg
  src/js/components/Photo.js
  src/js/constants/API.js
  src/js/constants/filters.js
  src/js/functions/getProp.js
  src/scss/partials/_photos.scss
  src/scss/partials/_provider-nav.scss
Due: eslint, prettier, stylelint, php

Updated edit screen text
  admin/includes/page-settings.php
  admin/views/app.php
  api/download.php
  dist/css/instant-images.css
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  instant-images.php
  src/js/components/Photo.js
  src/scss/partials/_photos.scss
Due: eslint, prettier, stylelint, php

Adding mime type checking and better attribution handling.
  api/download.php
  dist/css/instant-images.css
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  instant-images.php
  src/js/components/Photo.js
  src/js/components/PhotoList.js
  src/js/constants/filters.js
  src/js/functions/deprecated/generateAttribution.js
  src/js/functions/getQueryParams.js
  src/scss/partials/_photos.scss
  src/scss/partials/_tooltip.scss
Due: eslint, prettier, stylelint, php

Adding default openverse source
  dist/css/instant-images.css
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  instant-images.php
  src/js/components/Photo.js
  src/js/constants/filters.js
  src/js/functions/buildURL.js
  src/scss/partials/_filter-dropdown.scss
Due: eslint, prettier, stylelint, php

Updated default openverse filters
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  src/js/constants/filters.js
Due: eslint, prettier

Adding openverse query params and updated filters
  dist/css/instant-images.css
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  instant-images.php
  src/js/components/Photo.js
  src/js/constants/filters.js
  src/js/functions/buildURL.js
  src/js/functions/openverse.js
  src/scss/partials/_control-nav.scss
Due: eslint, prettier, stylelint, php

Build preparations
  README.txt
  dist/css/instant-images.min.css
  dist/js/instant-images-block.js
  dist/js/instant-images-block.min.js
  dist/js/instant-images-media.js
  dist/js/instant-images-media.min.js
  dist/js/instant-images.js
  dist/js/instant-images.min.js
  instant-images.php
Due: eslint, prettier, stylelint, php

Updated pot
  lang/instant-images.pot
Due: none

Adding fix for mime type
  .phpcs.xml
  README.txt
  api/download.php
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  instant-images.php
  src/js/block/components/blockLoader.js
  src/js/components/APILightbox.js
  src/js/components/PhotoList.js
  src/js/functions/buildURL.js
  src/js/functions/deprecated/getHeaders.js
  src/js/index.js
  src/js/media-router.js
Due: eslint, prettier, php

Correct link to Openverse
  README.txt
Due: none

Add mention of Openverse
  README.md
Due: prettier

Update plugin details to mention Openverse
  instant-images.php
Due: php

Update plugin name to mention Openverse alongside the others
  README.txt
Due: none

Prioritize Openverse in plugin admin
  README.md
  README.txt
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  instant-images.php
  src/js/constants/API.js
Due: eslint, prettier, php

Updated mime type checker
  api/download.php
Due: php

Comment update
  api/download.php
Due: php

Updated copy
  README.txt
  admin/views/app.php
Due: php

React update
  dist/js/instant-images-block.js
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  package-lock.json
  package.json
Due: eslint, prettier

Remove JS Hint
  .jshintrc
  package.json
  src/js/index.js
  src/js/media-router.js
Due: eslint, prettier

Deprecating functions
  dist/js/instant-images-media.js
  dist/js/instant-images.js
  package-lock.json
  src/js/functions/deprecated/getProp.js
  src/js/functions/deprecated/pexels.js
Due: eslint, prettier

Adding image dimensions and React removal
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  src/js/components/APILightbox.js
  src/js/components/ErrorLightbox.js
  src/js/components/Filter.js
  src/js/components/LoadFail.js
  src/js/components/LoadMore.js
  src/js/components/LoadingBlock.js
  src/js/components/NoResults.js
  src/js/components/Photo.js
  src/js/components/RestAPIError.js
  src/js/components/ResultsToolTip.js
  src/js/components/Sponsor.js
  src/js/components/Tooltip.js
  src/js/components/UpgradeNotice.js
  src/js/constants/filters.js
  src/js/editor/plugin/utils/insertImage.js
  src/js/editor/plugin/utils/setFeaturedImage.js
  src/scss/partials/_photos.scss
Due: eslint, prettier, stylelint, php
