Repository dcooney/Instant-Images: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint, php

lefthook.yml:

# https://github.com/evilmartians/lefthook/tree/master/docs

pre-commit:
   parallel: true
   commands:
      eslint:
         glob: "*.{js,jsx,ts,tsx}"
         run: npx eslint {staged_files} --fix
      prettier:
         glob: "*.{js,jsx,ts,tsx,md,html,json,yml}"
         run: npx prettier {staged_files} --write
      stylelint:
         glob: "*.{css,scss}"
         run: npx stylelint {staged_files} --fix
      php:
         glob: "*.php"
         run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

Started giphy integration, remove per_page params.
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  instant-images.php
  src/js/components/ProviderIcons.js
  src/js/constants/API.js
  src/js/constants/filters.js
  src/js/functions/buildURL.js
  src/js/functions/getQueryParams.js
  src/js/functions/getResults.js
  src/scss/partials/_provider-nav.scss
  src/scss/partials/add-ons/_image-sizes.scss
  webpack/proxy.config.js
Due: eslint, prettier, stylelint, php

Updated giphy display and prop functions
  README.txt
  api/download.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  instant-images.php
  src/js/components/APILightbox.js
  src/js/components/Photo.js
  src/js/components/search/SearchHeader.js
  src/js/constants/API.js
  src/js/constants/filters.js
  src/js/functions/localStorage.js
  src/js/functions/session.js
  src/scss/partials/_control-nav.scss
  src/scss/partials/_photos.scss
  src/scss/partials/_provider-nav.scss
  src/scss/partials/_search-header.scss
  webpack/proxy.config.js
Due: eslint, prettier, stylelint, php

Revert testmode
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  src/js/constants/API.js
Due: eslint, prettier, php

Revert testmode
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
Due: eslint, prettier, php

Fixed issue with new WooCommerce product pages
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  instant-images.php
  src/js/editor/plugin/components/Menu.js
  src/js/editor/plugin/components/Plugin.js
  src/js/plugin-sidebar.js
  src/scss/partials/_search-header.scss
Due: eslint, prettier, stylelint, php

emove error_log
  api/download.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  instant-images.php
Due: eslint, prettier, php

Release chores
  README.txt
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  instant-images.php
Due: eslint, prettier, php

Release chores
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  src/js/components/Photo.js
Due: eslint, prettier, php

Adding Powered by Giphy logo and link
  build/block/index.asset.php
  build/block/index.js
  build/images/Poweredby_100px-White_VertText.60eb0118.png
  build/images/giphy-powered.9748c37d.png
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  src/img/logos/Poweredby_100px-White_VertText.png
  src/img/logos/giphy-powered.png
  src/js/components/ProviderNav.js
  src/scss/partials/_control-nav.scss
  src/scss/partials/_provider-nav.scss
Due: eslint, prettier, stylelint, php

Giphy release prep
  README.txt
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/images/Poweredby_100px-White_VertText.60eb0118.png
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  webpack/proxy.config.js
Due: eslint, prettier, stylelint, php

Adding stylelint
  lang/instant-images.pot
  package-lock.json
  package.json
Due: prettier

Updated deploy script and packages
  .github/workflows/deploy.yml
  build/block/index.asset.php
  build/block/index.js
  lang/instant-images.pot
  package-lock.json
  package.json
  webpack.config.js
Due: eslint, prettier, php

Fixed issue with Instant Instant causing issues on Search and Filter (Plugin) pages in the WordPress admin
  README.txt
  instant-images.php
Due: php

Fixed issue with Instant Instant causing issues on Search and Filter (Plugin) pages in the WordPress admin
  README.txt
Due: none

Updated deploy script
  .github/workflows/deploy.yml
Due: prettier

Adding Ajax Load More plugin
  admin/includes/settings/our-plugins.php
Due: php

Fixed issue with `load_plugin_textdomain` PHP warning
  README.txt
  instant-images.php
Due: php

Added WP compat. Adding postmeta for downloads
  README.txt
  api/download.php
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  package-lock.json
  package.json
  src/scss/partials/_header.scss
Due: eslint, prettier, stylelint, php

Updatd readme
  README.txt
Due: none

Adding sortable providers
  admin/includes/settings.php
  admin/includes/settings/provider-settings.php
  admin/views/settings.php
  build/admin/index.asset.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  src/js/components/ProviderNav.js
  src/js/editor/block/components/Header.js
  src/js/functions/getProvider.js
  src/scss/partials/_provider-nav.scss
  src/scss/partials/_settings.scss
Due: eslint, prettier, stylelint, php

Adding provider drag-n-drop. Admin UI updates
  README.txt
  admin/includes/settings/api-settings.php
  admin/includes/settings/general-settings.php
  admin/includes/settings/image-sizes.php
  admin/includes/settings/licenses.php
  admin/includes/settings/our-plugins.php
  admin/includes/settings/provider-settings.php
  admin/includes/settings/whats-new.php
  admin/src/js/admin.js
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  src/scss/partials/_forms.scss
  src/scss/partials/_settings.scss
Due: eslint, prettier, stylelint, php

Adding image resizing fix
  README.txt
  admin/includes/settings.php
  api/download.php
Due: php

Adding build assets
  lang/instant-images.pot
Due: none

Adding fix for Automatic conversion of false to array is deprecated warning
  admin/includes/settings.php
Due: php

Remove delete_option test
  admin/includes/settings.php
Due: php

Adding new image assets
  .wordpress-org/banner-1544x500.jpg
  .wordpress-org/banner-772x250.jpg
Due: none

Added fix for potential fatal error in PHP < 8.0 due to use of null safe operator
  README.md
  README.txt
  instant-images.php
Due: prettier, php

Fixed issue with Gif uploads and resizing causing gifs to not be animated.
  README.txt
  api/download.php
  instant-images.php
Due: php

Version bump
  .eslintrc.js.bak
  lang/instant-images.pot
  package.json
Due: prettier

Security fix
  build/admin/index.asset.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  src/js/functions/helpers.js
Due: eslint, prettier, stylelint, php

Adding fix for get_current_screen warning
  .phpcs.xml
  admin/includes/header.php
  admin/includes/settings.php
  admin/includes/settings/image-sizes.php
  admin/includes/settings/provider-settings.php
  api/download.php
  build/admin/index.asset.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images-rtl.css
  instant-images.php
  lang/instant-images.pot
Due: eslint, prettier, stylelint, php

Use alt text for default image filenames
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  src/js/components/Photo.js
Due: eslint, prettier, php
