Repository dcooney/Instant-Images: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint, php

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --write

stylelint:
  run: npx stylelint {staged_files} --fix

php:
  run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

Adding wp_safe_remote_get instead of wp_remote_get
  api/download.php
Due: php

Quick fix for potential fatal error on the frontend for Beaver Builder users
  README.txt
  instant-images.php
Due: php

Updated readme.
  README.txt
Due: none

Removing uploads folder requirement
  admin/includes/cta/permissions.php
  admin/views/app.php
  api/download.php
  instant-images.php
Due: php

Adding function to fetch global plugin settings and retrun as normalized array.
  api/download.php
  instant-images.php
Due: php

Adding additional functions to new image settings
  admin/includes/settings.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  instant-images.php
  src/js/constants/API.js
Due: eslint, prettier, stylelint, php

Code cleanup
  instant-images.php
Due: php

Adding compatibility fix for Elementor Pro
  README.txt
  instant-images.php
Due: php

Updated after action
  api/download.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
Due: eslint, prettier, php

Adding new settings page and styling
  admin/admin.php
  admin/assets/js/admin.js
  admin/includes/header.php
  admin/includes/page-settings.php
  admin/includes/save-settings.php
  admin/includes/settings.php
  admin/views/app.php
  api/settings.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  instant-images.php
  src/js/components/APILightbox.js
  src/scss/_variables.scss
  src/scss/partials/_admin.scss
  src/scss/partials/_settings.scss
  uninstall.php
Due: eslint, prettier, stylelint, php

Adding settings navigation
  admin/admin.php
  admin/assets/js/admin.js
  admin/includes/header.php
  admin/includes/page-settings.php
  admin/includes/settings.php
  api/settings.php
  build/style-instant-images.css
  src/scss/partials/_admin.scss
  src/scss/partials/_filter-dropdown.scss
  src/scss/partials/_provider-nav.scss
  src/scss/partials/_settings.scss
Due: eslint, prettier, stylelint, php

Style updates
  admin/includes/settings.php
  build/style-instant-images.css
  src/scss/partials/_provider-nav.scss
  src/scss/partials/_settings.scss
Due: stylelint, php

Adding todo
  admin/admin.php
  admin/includes/page-settings.php
  build/style-instant-images.css
  instant-images.php
  src/scss/_variables.scss
  src/scss/partials/_provider-nav.scss
  src/scss/partials/_settings.scss
Due: stylelint, php

Admin style updates
  admin/admin.php
  admin/assets/img/bolt.svg
  admin/assets/js/admin.js
  admin/includes/header.php
  admin/includes/page-settings.php
  api/settings.php
  build/style-instant-images.css
  instant-images.php
  src/img/instant-images-icon.svg
  src/scss/partials/_admin.scss
  src/scss/partials/_control-nav.scss
  src/scss/partials/_header.scss
  src/scss/partials/_provider-nav.scss
  src/scss/partials/_settings.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

Adding sticky header
  admin/includes/page-settings.php
  build/style-instant-images.css
  src/scss/partials/_settings.scss
Due: stylelint, php

Settings design update
  admin/assets/js/admin.js
  admin/includes/page-settings.php
  admin/includes/settings.php
  build/style-instant-images.css
  src/scss/partials/_admin.scss
  src/scss/partials/_forms.scss
  src/scss/partials/_header.scss
  src/scss/partials/_settings.scss
  src/scss/partials/_upgrade-notice.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

Styling updates
  build/style-instant-images.css
  src/scss/_variables.scss
  src/scss/partials/_settings.scss
Due: stylelint

Adding admin styling and settings page
  admin/assets/js/admin.js
  admin/includes/page-settings.php
  api/download.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  src/js/components/Photo.js
  src/scss/_variables.scss
  src/scss/partials/_forms.scss
  src/scss/partials/_settings.scss
Due: eslint, prettier, stylelint, php

Updated settings styles
  admin/includes/page-settings.php
  build/images/logo-48x48.f34cb1d9.png
  build/style-instant-images.css
  src/scss/partials/_forms.scss
  src/scss/partials/_pro.scss
  src/scss/partials/_settings.scss
  src/scss/style.scss
Due: stylelint, php

Updated settings layout
  admin/admin.php
  admin/assets/js/admin.js
  admin/views/settings.php
  build/style-instant-images.css
  src/scss/partials/_pro.scss
Due: eslint, prettier, stylelint, php

Updated to use createRoot
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  src/js/index.js
  src/js/media-modal.js
Due: eslint, prettier, php

Updated render function to remove React deprecation notice
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  src/js/index.js
  src/js/media-modal.js
Due: eslint, prettier, stylelint, php

Updated exported const variables
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  src/js/components/InstantImages.js
  src/js/components/LoadingBlock.js
  src/js/components/ProviderNav.js
  src/js/components/SearchHeader.js
  src/js/constants/API.js
  src/js/constants/filters.js
  src/js/constants/openverse.js
  src/js/functions/buildURL.js
  src/js/functions/deprecated/getHeaders.js
  src/js/functions/getProvider.js
  src/js/functions/getQueryParams.js
  src/js/functions/getResults.js
  src/js/index.js
Due: eslint, prettier, php

Updated search souces for openverse
  admin/views/app.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  composer.json
  instant-images.php
  src/js/constants/filters.js
  src/js/constants/openverse.js
  src/js/functions/openverse.js
Due: eslint, prettier, php

Removing stocksnap source and adding download URL checker
  api/download.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  instant-images.php
  src/js/constants/openverse.js
  src/js/functions/openverse.js
Due: eslint, prettier, php

Restricting Openverse downloads to certain sources.
  api/download.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  instant-images.php
  src/js/constants/openverse.js
Due: eslint, prettier, php

Adding initial session storage functionality.
  api/download.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  instant-images.php
  package-lock.json
  package.json
  src/js/components/InstantImages.js
  src/js/functions/buildURL.js
  src/js/functions/session.js
  src/js/index.js
Due: eslint, prettier, php

Adding session to gutenberg sidebar plugin
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  src/js/components/InstantImages.js
  src/js/constants/filters.js
  src/js/editor/plugin/components/Panel.js
  src/js/media-modal.js
Due: eslint, prettier, php

Updated pot file and versioning
  README.txt
  instant-images.php
  lang/instant-images.pot
  package.json
Due: prettier, php

Updated security check
  README.txt
  instant-images.php
Due: php

Updated code comments
  api/download.php
Due: php

Adding build assets
  README.txt
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  instant-images.php
  package.json
  src/scss/partials/_admin.scss
Due: eslint, prettier, stylelint, php

adding fix for API switch not refreshing filters
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  src/js/components/InstantImages.js
Due: eslint, prettier, stylelint, php

Updated build assets
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
Due: eslint, prettier, stylelint, php

Version date update
  README.txt
  instant-images.php
Due: php

Release chores
  README.txt
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  instant-images.php
  src/js/components/Photo.js
  src/js/constants/API.js
  src/js/functions/buildURL.js
  src/js/functions/providers/openverse.js
  src/js/functions/providers/unsplash.js
  src/js/functions/session.js
  src/js/index.js
Due: eslint, prettier, php

Adding session storage expiration to 1hr
  README.txt
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  src/js/constants/API.js
  src/js/functions/session.js
Due: eslint, prettier, php

Build
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/style-instant-images.css
Due: eslint, prettier, stylelint, php

Adding plugin version
  admin/admin.php
  admin/views/settings.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  src/scss/partials/_settings.scss
Due: eslint, prettier, stylelint, php

Adding edit_url and styling updates.
  api/download.php
  build/style-instant-images.css
  src/js/index.js
  src/scss/partials/_admin.scss
  src/scss/partials/_control-nav.scss
Due: eslint, prettier, stylelint, php

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,md,html,json,yml}
  stylelint: any of: *.{css,scss}
  php: any of: *.php
