Repository dcooney/Instant-Images: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint, php

lefthook.yml:

# https://github.com/evilmartians/lefthook/tree/master/docs

pre-commit:
   parallel: true
   commands:
      eslint:
         glob: "*.{js,jsx,ts,tsx}"
         run: npx eslint {staged_files} --fix
      prettier:
         glob: "*.{js,jsx,ts,tsx,md,html,json,yml}"
         run: npx prettier {staged_files} --write
      stylelint:
         glob: "*.{css,scss}"
         run: npx stylelint {staged_files} --fix
      php:
         glob: "*.php"
         run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

Updated code formatting
  .eslintrc.js
  .prettierignore
  .prettierrc.js
  api/v5-upgrade.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  instant-images.php
  package-lock.json
  package.json
  src/js/components/LoadingBlock.js
  src/js/components/Tooltip.js
  src/js/components/UpgradeNotice.js
  src/js/constants/API.js
  src/js/editor/plugin/utils/setFeaturedImage.js
  src/js/media-modal.js
  src/js/plugin-sidebar.js
  src/scss/partials/_tooltip.scss
  webpack.config.js
Due: eslint, prettier, stylelint, php

Styleint fixes
  .eslintignore
  .eslintrc.js
  .phpcs.xml
  .prettierignore
  .prettierrc.js
  .stylelintrc.json
  build/images/ajax-loader-lg.808ea7f8.gif
  build/images/ajax-loader.7c5ec6b9.gif
  build/images/logo-48x48.f34cb1d9.png
  build/images/pixabay.6c43095c.png
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  package-lock.json
  package.json
  src/js/plugin-sidebar.js
  src/scss/partials/_admin.scss
  src/scss/partials/_api-lightbox.scss
  src/scss/partials/_control-nav.scss
  src/scss/partials/_editor.scss
  src/scss/partials/_filter-dropdown.scss
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_no-results.scss
  src/scss/partials/_onboarding.scss
  src/scss/partials/_photos.scss
  src/scss/partials/_provider-nav.scss
  src/scss/partials/_settings.scss
  src/scss/partials/_tooltip.scss
  src/scss/style.scss
  webpack.config.js
Due: eslint, prettier, stylelint, php

CSS fix for disabled filter button
  build/instant-images.asset.php
  build/instant-images.js
  build/style-instant-images.css
  src/js/index.js
  src/scss/partials/_filter-dropdown.scss
Due: eslint, prettier, stylelint, php

Updated class components to functional components
  admin/admin.php
  admin/includes/settings.php
  api/download.php
  build/images/ajax-loader-lg.808ea7f8.gif
  build/images/ajax-loader.7c5ec6b9.gif
  build/images/logo-48x48.f34cb1d9.png
  build/images/pixabay.6c43095c.png
  build/instant-images.asset.php
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  src/js/components/APILightbox.js
  src/js/components/ErrorLightbox.js
  src/js/components/LoadFail.js
  src/js/components/LoadMore.js
  src/js/components/NoResults.js
  src/js/components/Photo.js
  src/js/components/PhotoList.js
  src/js/components/RestAPIError.js
  src/js/components/ResultsToolTip.js
  src/js/editor/plugin/components/Panel.js
  src/js/functions/buildTestURL.js
  src/js/functions/buildURL.js
  src/js/functions/capitalizeFirstLetter.js
  src/js/functions/checkRateLimit.js
  src/js/functions/consoleStatus.js
  src/js/functions/deprecated/generateAttribution.js
  src/js/functions/helpers.js
  src/js/functions/isObjectEmpty.js
  src/js/functions/openverse.js
  src/js/functions/polyfills.js
  src/js/functions/unsplashDownload.js
  src/js/index.js
  src/js/media-modal.js
  src/scss/partials/_admin.scss
Due: eslint, prettier, stylelint, php

Lint fix
  src/js/components/APILightbox.js
Due: eslint, prettier

Converting filters component to functional component
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  instant-images.php
  package.json
  src/js/components/APILightbox.js
  src/js/components/ErrorLightbox.js
  src/js/components/Filter.js
Due: eslint, prettier, php

Photo component transformed to functional component
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  src/js/components/APILightbox.js
  src/js/components/Photo.js
  src/js/components/PhotoList.js
  src/js/components/Sponsor.js
Due: eslint, prettier, php

Before PhotoList update
  .distignore
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  src/js/components/Photo.js
  src/js/components/PhotoList.js
Due: eslint, prettier, php

Refactoring photolist
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  src/js/components/Photo.js
  src/js/components/PhotoList copy.js
  src/js/editor/plugin/components/Panel.js
  src/js/editor/plugin/utils/insertImage.js
  src/js/editor/plugin/utils/setFeaturedImage.js
  src/js/index.js
  src/js/media-modal.js
  src/scss/partials/_photos.scss
Due: eslint, prettier, stylelint, php

Adding security check to prevent misuse
  api/download.php
Due: php

version bumps
  README.txt
  instant-images.php
Due: php

Readme update
  README.txt
Due: none

Component refactoring
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  instant-images.php
  package-lock.json
  package.json
  src/js/components/APILightbox.js
  src/js/components/App.js
  src/js/components/Photo.js
  src/js/components/Photos.js
  src/js/components/ProviderNav.js
  src/js/editor/plugin/components/Panel.js
  src/js/functions/helpers.js
  src/js/index.js
  src/js/media-modal.js
  src/scss/partials/_admin.scss
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_media-frame.scss
  src/scss/partials/_photos.scss
Due: eslint, prettier, stylelint, php

More refactoring
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  src/js/components/APILightbox.js
  src/js/components/App.js
  src/js/components/Filter.js
  src/js/components/LoadingBlock.js
  src/js/components/NoResults.js
  src/js/components/RestAPIError.js
  src/js/components/ResultsToolTip.js
  src/js/constants/filters.js
  src/js/editor/plugin/components/Panel.js
  src/js/media-modal.js
  src/scss/partials/_admin.scss
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_media-frame.scss
  src/scss/partials/_photos.scss
Due: eslint, prettier, stylelint, php

Refactoring plugin components
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  instant-images.php
  src/js/components/APILightbox.js
  src/js/components/App.js
  src/js/components/ErrorLightbox.js
  src/js/components/PhotoList copy.js
  src/js/components/PhotoList.js
  src/js/components/ProviderNav.js
  src/js/components/Results.js
  src/js/components/SearchHeader.js
  src/js/components/SearchToolTip.js
  src/js/editor/plugin/components/Panel.js
  src/js/index.js
  src/js/media-modal.js
  src/scss/_variables.scss
  src/scss/partials/_admin.scss
  src/scss/partials/_api-lightbox.scss
  src/scss/partials/_control-nav.scss
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_media-frame.scss
  src/scss/partials/_photos.scss
  src/scss/partials/_provider-nav.scss
  src/scss/partials/_search-header.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

Search filters
  api/download.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  instant-images.php
  src/js/components/App.js
  src/js/components/Filter.js
  src/js/components/LoadingBlock.js
  src/js/components/NoResults.js
  src/js/components/Results.js
  src/js/components/SearchHeader.js
  src/js/constants/filters.js
  src/scss/partials/_admin.scss
  src/scss/partials/_filter-dropdown.scss
  src/scss/partials/_gutenberg.scss
Due: eslint, prettier, stylelint, php

Changes before ESLint feature
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  src/js/components/App.js
Due: eslint, prettier, php

Adding todo
  src/js/components/App.js
Due: eslint, prettier

Stylelint, eslint and distignore updates
  .distignore
  .stylelintrc.json
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  src/js/components/Filter.js
  src/js/components/InstantImages.js
  src/js/editor/plugin/components/Panel.js
Due: eslint, prettier, php

Updated eslint config
  .eslintrc.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  src/js/components/Photo.js
  src/js/components/RestAPIError.js
  src/js/functions/consoleStatus.js
  src/js/functions/getQueryParams.js
  src/js/functions/unsplashDownload.js
  src/js/functions/updatePluginSetting.js
Due: eslint, prettier, php

Version bump and deployment prep
  .distignore
  .eslintignore
  README.txt
  admin/includes/settings.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  build/style-instant-images.css
  instant-images.php
  src/js/components/APILightbox.js
  src/js/components/Photo.js
  src/js/constants/API.js
  src/js/functions/deprecated/getHeaders.js
  src/js/functions/deprecated/polyfills.js
  src/js/functions/polyfills.js
  src/js/index.js
  src/js/media-modal.js
Due: eslint, prettier, stylelint, php

Updated pot file.
  lang/instant-images.pot
Due: none

Modal positioning.
  build/style-instant-images.css
  src/scss/partials/_api-lightbox.scss
Due: stylelint

Adding prettier
  package.json
Due: prettier

Updated distignore
  .distignore
Due: none

Version bump
  README.txt
  instant-images.php
Due: php

Updated dependacy and imports
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  package-lock.json
  package.json
  src/js/editor/plugin/components/Menu.js
  src/js/editor/plugin/components/Panel.js
  src/js/editor/plugin/components/Plugin.js
  src/js/editor/plugin/utils/insertImage.js
  src/js/editor/plugin/utils/setFeaturedImage.js
  src/js/index.js
  src/js/media-modal.js
  src/js/plugin-sidebar.js
Due: eslint, prettier, php

add wp-element to the dependency array
  admin/admin.php
Due: php

bumps composer and node dependencies
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: prettier

Removing react focus trap package
  composer.lock
  package-lock.json
  package.json
Due: prettier

Adding build assets
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  lang/instant-images.pot
Due: eslint, prettier, php

Code cleanup/adding wp-element as script dependency.
  admin/admin.php
  api/download.php
  api/settings.php
  api/test.php
  instant-images.php
  webpack.config.js
Due: eslint, prettier, php

Removing dependancies and updated sidebar css
  instant-images.php
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_media-frame.scss
Due: stylelint, php

Build asset update
  build/style-instant-images.css
Due: stylelint

Fix issue with loading transition, version bump
  README.txt
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  instant-images.php
  src/js/components/InstantImages.js
Due: eslint, prettier, php

Updated gitignore
  .gitignore
Due: none
