Repository dcooney/Instant-Images: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint, php

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --write

stylelint:
  run: npx stylelint {staged_files} --fix

php:
  run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

Updated code quality
  admin/src/js/admin.js
  build/admin/index.asset.php
  build/admin/index.js
Due: eslint, prettier, php

Adding CTA and updated btn colors globally
  admin/admin.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  src/js/components/Photo.js
  src/js/components/search/SearchForm.js
  src/js/components/search/SearchHistory.js
  src/js/functions/localStorage.js
  src/scss/_variables.scss
  src/scss/partials/_buttons.scss
  src/scss/partials/_control-nav.scss
  src/scss/partials/_forms.scss
  src/scss/partials/_header.scss
  src/scss/partials/_photos.scss
  src/scss/partials/_settings.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

Adding CTA styling
  admin/admin.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  src/js/components/search/ExtendedCTA.js
  src/js/components/search/SearchForm.js
  src/js/components/search/SearchHistory.js
  src/scss/partials/add-ons/_import.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

Adding plugin row link
  instant-images.php
Due: php

Add better license validation
  admin/admin.php
  admin/includes/settings.php
  admin/views/settings.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  src/js/components/InstantImages.js
  src/js/components/cta/Extended.js
  src/js/components/search/ExtendedCTA.js
  src/js/components/search/SearchForm.js
  src/scss/partials/_control-nav.scss
  src/scss/partials/_cta.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

CTA clean up and conditional update
  admin/admin.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  instant-images.php
  src/js/components/cta/Extended.js
  src/js/components/search/SearchForm.js
  src/js/functions/localStorage.js
Due: eslint, prettier, php

Better comments
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  src/js/components/search/SearchForm.js
Due: eslint, prettier, php

Adding useArrowControls hooks. Remove a11y-arrows package
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/images/ajax-loader-lg.808ea7f8.gif
  build/images/ajax-loader.7c5ec6b9.gif
  build/images/logo-48x48.f34cb1d9.png
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  package-lock.json
  package.json
  src/js/components/Filter.js
  src/js/components/InstantImages.js
  src/js/components/search/SearchForm.js
  src/js/components/search/SearchHistory.js
  src/js/hooks/useArrowControls.js
  src/scss/partials/_control-nav.scss
Due: eslint, prettier, stylelint, php

Updated arrow function name
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/images/ajax-loader-lg.808ea7f8.gif
  build/images/ajax-loader.7c5ec6b9.gif
  build/images/logo-48x48.f34cb1d9.png
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  src/js/hooks/useArrowControls.js
Due: eslint, prettier, stylelint, php

Launch prep
  README.txt
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
Due: eslint, prettier, stylelint, php

Readme update
  README.txt
Due: none

Updated header classnames to fix conflict.
  admin/includes/header.php
  admin/includes/settings/header.php
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  src/scss/partials/_admin.scss
  src/scss/partials/_editor.scss
  src/scss/partials/_header.scss
Due: eslint, prettier, stylelint, php

Release prep
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  lang/instant-images.pot
Due: eslint, prettier, stylelint, php

Updates to readme
  README.txt
  instant-images.php
Due: php

Return value instead of echoing it in `admin_footer_text` callback
  admin/admin.php
Due: php

Updated composer deps
  .phpcs.xml
  admin/admin.php
  composer.json
  composer.lock
  instant-images.php
Due: prettier, php

Revert admin change
  admin/admin.php
Due: php

Code cleanup
  admin/admin.php
Due: php

Added instant_images_attribution hook for modifying the attribution text
  .phpcs.xml
  README.txt
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  src/js/components/Photo.js
  src/js/functions/deprecated/generateAttribution.js
  src/js/functions/generateAttribution.js
Due: eslint, prettier, stylelint, php

Release prep
  README.txt
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  package.json
  src/js/functions/unsplashDownload.js
Due: eslint, prettier, stylelint, php

Require WP 5.0
  README.txt
Due: none

Release prep
  README.txt
Due: none

Updated plugin installer class
  admin/vendor/connekt-plugin-installer/class-connekt-plugin-installer.php
Due: php

Adding translations for filters
  README.txt
  build/block/index.asset.php
  build/block/index.js
  build/images/logo-48x48.f34cb1d9.png
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  package.json
  src/js/components/Filter.js
  src/js/components/LoadMore.js
  src/js/components/NoResults.js
  src/js/components/Photo.js
  src/js/components/cta/Extended.js
  src/js/components/search/SearchHeader.js
  src/js/constants/filters.js
  src/js/constants/filters/openverse.js
  src/js/constants/filters/pexels.js
  src/js/constants/filters/pixabay.js
  src/js/constants/filters/unsplash.js
  src/js/constants/openverse.js
  src/js/functions/providers/openverse.js
  src/scss/partials/_admin.scss
  src/scss/partials/_cta.scss
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_no-results.scss
Due: eslint, prettier, stylelint, php

Adding translations for filters
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  lang/instant-images.pot
  package-lock.json
  package.json
  src/js/constants/filters.js
Due: eslint, prettier, php

Adding security patches, fix for settings access
  admin/includes/header.php
  admin/src/js/licenses.js
  api/license.php
  api/settings.php
  api/test.php
  build/admin/index.asset.php
  build/admin/index.js
  instant-images.php
  lang/instant-images.pot
Due: eslint, prettier, php

Launch prep chores
  README.txt
  admin/includes/settings/header.php
  admin/includes/settings/our-plugins.php
  admin/views/app.php
  instant-images.php
  lang/instant-images.pot
  package.json
Due: prettier, php

Adding fix for openverse search
  README.txt
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  src/js/functions/providers/openverse.js
Due: eslint, prettier, stylelint, php

Release prep and chores
  README.txt
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
Due: eslint, prettier, stylelint, php

Added support for maintaining search term while switching providers
  README.txt
  admin/admin.php
  admin/includes/header.php
  admin/includes/settings/header.php
  admin/includes/settings/our-plugins.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  package-lock.json
  package.json
  src/js/components/InstantImages.js
  src/js/components/cta/Extended.js
  src/js/components/search/SearchToolTip.js
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_header.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

updated readme
  README.txt
Due: none

updated readme
  README.txt
  instant-images.php
Due: php

Removed .wp-block styles in Instant Images CSS
  README.txt
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

Removed .wp-block styles in Instant Images CSS
  README.txt
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
Due: eslint, prettier, stylelint, php

Adding styling for displaying image sizes
  admin/admin.php
  admin/includes/settings/image-sizes.php
  admin/views/settings.php
  build/block/index.js
  build/images/ajax-loader-lg.808ea7f8.gif
  build/images/ajax-loader.7c5ec6b9.gif
  build/instant-images.js
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  src/js/plugin-sidebar.js
  src/scss/_variables.scss
  src/scss/partials/_admin.scss
  src/scss/partials/_forms.scss
  src/scss/partials/_settings.scss
  src/scss/partials/add-ons/_image-sizes.scss
  src/scss/partials/add-ons/_import.scss
  src/scss/partials/add-ons/_index.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

Adding styling for displaying image sizes
  admin/includes/settings/image-sizes.php
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  src/scss/partials/add-ons/_image-sizes.scss
Due: stylelint, php

Updated image size UI
  admin/includes/settings/image-sizes.php
  api/download.php
  build/style-instant-images-rtl.css
  build/style-instant-images.css
  instant-images.php
  src/scss/partials/_settings.scss
  src/scss/partials/add-ons/_image-sizes.scss
Due: stylelint, php

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,md,html,json,yml}
  stylelint: any of: *.{css,scss}
  php: any of: *.php
