Repository dcooney/Instant-Images: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint, php

lefthook.yml:

# https://github.com/evilmartians/lefthook/tree/master/docs

pre-commit:
   parallel: true
   commands:
      eslint:
         glob: "*.{js,jsx,ts,tsx}"
         run: npx eslint {staged_files} --fix
      prettier:
         glob: "*.{js,jsx,ts,tsx,md,html,json,yml}"
         run: npx prettier {staged_files} --write
      stylelint:
         glob: "*.{css,scss}"
         run: npx stylelint {staged_files} --fix
      php:
         glob: "*.php"
         run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

Adding import scss stylying
  build/instant-images.asset.php
  build/instant-images.js
  build/style-instant-images.css
  src/scss/partials/_settings.scss
  src/scss/partials/pro/_import.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

Clean up photo hovers
  build/style-instant-images.css
  src/scss/partials/_control-nav.scss
  src/scss/partials/_photos.scss
Due: stylelint

Updated hover state
  build/style-instant-images.css
  src/scss/partials/_photos.scss
Due: stylelint

Style updates
  .stylelintrc.json
  build/style-instant-images.css
  src/scss/_variables.scss
  src/scss/partials/_control-nav.scss
  src/scss/partials/_forms.scss
  src/scss/partials/_photos.scss
Due: prettier, stylelint

Fix for caption reset
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal.asset.php
  build/media-modal.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar.js
  src/js/components/Photo.js
Due: eslint, prettier, php

Adding normalized input styles to edit screen
  build/style-instant-images.css
  src/scss/_variables.scss
  src/scss/partials/_forms.scss
  src/scss/partials/_photos.scss
Due: stylelint

Refactor build directory and scripts
  build/media-modal.asset.php
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar.asset.php
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  instant-images.php
  webpack.config.js
Due: eslint, prettier, php

Initial block commit
  build/block/block.json
  build/block/index.asset.php
  build/block/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  instant-images.php
  package-lock.json
  package.json
  src/block/block.json
  src/block/index.js
  src/js/editor/block/Insert.js
  src/js/editor/block/ReplaceBlock.js
  src/js/editor/components/Icon.js
  src/js/editor/plugin/components/Menu.js
  src/js/editor/plugin/components/Plugin.js
  webpack.config.js
Due: eslint, prettier, php

Refactor icon
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  instant-images.php
  src/js/editor/plugin/components/Icon.js
Due: eslint, prettier, php

Spelling fix
  api/download.php
Due: php

CSS tweak
  build/style-instant-images.css
  src/scss/partials/pro/_import.scss
Due: stylelint

Adding fix for missing createRoot function in WP < 6.2
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  instant-images.php
  src/js/index.js
  src/js/media-modal.js
Due: eslint, prettier, php

Release prep
  README.txt
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
Due: eslint, prettier, stylelint, php

Adding todos
  instant-images.php
Due: php

Added new user role for accessing Instant Images settings.
  admin/admin.php
Due: php

Exclude 'site-editor' admin screen from rendering instant images plugin sidebar
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
Due: eslint, prettier, stylelint, php

Updated readme and changelog
  README.txt
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
Due: eslint, prettier, stylelint, php

Changelog update
  README.txt
Due: none

Adding pro settings and normalized toggle switches
  admin/includes/settings.php
  admin/views/settings.php
  api/settings.php
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  uninstall.php
Due: eslint, prettier, stylelint, php

Updated unistall
  uninstall.php
Due: php

Adding block and layout changes
  admin/admin.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/js/editor/block/block.json
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  src/js/common/pluginProvider.js
  src/js/components/ErrorLightbox.js
  src/js/components/Filter.js
  src/js/components/Icon.js
  src/js/components/InstantImages.js
  src/js/components/LoadMore.js
  src/js/components/LoadingBlock.js
  src/js/components/Photo.js
  src/js/components/ProviderNav.js
  src/js/components/Results.js
  src/js/components/SearchHeader.js
  src/js/editor/block/block.json
  src/js/editor/block/index.js
  src/js/editor/plugin/components/Menu.js
  src/js/editor/plugin/components/Plugin.js
  src/js/editor/plugin/components/Sidebar.js
  src/js/editor/utils/insertImage.js
  src/js/editor/utils/replaceAndInsert.js
  src/js/editor/utils/setFeaturedImage.js
  src/js/media-modal.js
  src/scss/partials/_admin.scss
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_media-frame.scss
  src/scss/partials/_photos.scss
  webpack.config.js
Due: eslint, prettier, stylelint, php

Refactor sidebar and block components. Adding SVG icons of providers
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  src/img/logos/openverse.svg
  src/img/logos/pixabay.png
  src/img/logos/pixabay.svg
  src/js/components/APILightbox.js
  src/js/components/ErrorLightbox.js
  src/js/components/InstantImages.js
  src/js/components/LoadMore.js
  src/js/components/ProviderIcons.js
  src/js/components/ProviderNav.js
  src/js/constants/API.js
  src/js/editor/block/index.js
  src/js/editor/plugin/components/Sidebar.js
  src/js/functions/session.js
  src/scss/partials/_admin.scss
  src/scss/partials/_api-lightbox.scss
  src/scss/partials/_loaders.scss
  src/scss/partials/_provider-nav.scss
  src/scss/style.scss
Due: eslint, prettier, stylelint, php

Updated guteneberg padding
  build/images/pixabay.6c43095c.png
  build/style-instant-images.css
  src/scss/partials/_gutenberg.scss
Due: stylelint

Block refactoring, adding help text
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/js/editor/block/block.json
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  package-lock.json
  package.json
  src/js/components/Icon.js
  src/js/components/InstantImages.js
  src/js/components/ProviderNav.js
  src/js/editor/block/block.json
  src/js/editor/block/index.js
  src/scss/partials/_admin.scss
Due: eslint, prettier, stylelint, php

Block design update
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  src/js/components/InstantImages.js
  src/js/components/LoadMore.js
  src/js/components/LoadingBlock.js
  src/js/components/ProviderNav.js
  src/js/components/Results.js
  src/js/components/SearchHeader.js
  src/js/editor/block/index.js
  src/scss/partials/_block.scss
  src/scss/partials/_control-nav.scss
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_photos.scss
Due: eslint, prettier, stylelint, php

WP block changes, adding scroll functionality for horizontal scroll
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  src/js/components/InstantImages.js
  src/js/components/Photo.js
  src/js/components/ProviderNav.js
  src/js/components/Results.js
  src/js/components/block/Header.js
  src/js/components/block/Instructions.js
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_loaders.scss
  src/scss/partials/_photos.scss
Due: eslint, prettier, stylelint, php

Adding block layout options
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  package.json
  src/js/components/InstantImages.js
  src/js/components/LoadMore.js
  src/js/components/LoadingBlock.js
  src/js/components/Results.js
  src/js/components/ResultsWPBlock.js
  src/js/editor/block/components/Header.js
  src/js/editor/block/components/Help.js
  src/js/editor/block/components/Instructions.js
  src/js/editor/block/components/LoadMore.js
  src/js/editor/block/index.js
  src/scss/_variables.scss
  src/scss/partials/_api-lightbox.scss
  src/scss/partials/_block.scss
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_loaders.scss
Due: eslint, prettier, stylelint, php

Updated button width to fill images
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  src/scss/partials/_photos.scss
Due: eslint, prettier, stylelint, php

Updated block insert functionality
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  src/js/components/Photo.js
  src/js/editor/utils/insertImage.js
  src/js/editor/utils/replaceAndInsert.js
  src/js/editor/utils/setFeaturedImage.js
Due: eslint, prettier, php

Loading styles
  build/style-instant-images.css
  src/scss/partials/_gutenberg.scss
Due: stylelint

Adding SearchBar component
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  package-lock.json
  src/js/components/InstantImages.js
  src/js/components/search/SearchForm.js
  src/js/components/search/SearchHeader.js
  src/js/components/search/SearchToolTip.js
  src/scss/partials/_photos.scss
Due: eslint, prettier, stylelint, php

Adding search history and autocomplete functionality
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  src/js/components/APILightbox.js
  src/js/components/ErrorLightbox.js
  src/js/components/Filter.js
  src/js/components/InstantImages.js
  src/js/components/LoadMore.js
  src/js/components/ProviderNav.js
  src/js/components/RestAPIError.js
  src/js/components/search/SearchForm.js
  src/js/components/search/SearchHeader.js
  src/js/components/search/SearchHistory.js
  src/js/components/search/SearchToolTip.js
  src/js/editor/block/components/Header.js
  src/js/functions/helpers.js
  src/js/functions/localStorage.js
  src/js/functions/session.js
  src/js/functions/useClickOutside.js
  src/scss/_variables.scss
  src/scss/partials/_control-nav.scss
  src/scss/partials/_gutenberg.scss
  src/scss/partials/_header.scss
  src/scss/partials/_settings.scss
Due: eslint, prettier, stylelint, php

stylingupdates
  build/style-instant-images.css
  src/scss/partials/_control-nav.scss
Due: stylelint

Updated styles
  build/style-instant-images.css
  src/scss/partials/_control-nav.scss
Due: stylelint

Updated deps
  admin/admin.php
  instant-images.php
Due: php

Updated stylying
  admin/includes/settings.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  src/js/components/search/SearchForm.js
  src/js/functions/localStorage.js
  src/js/hooks/useClickOutside.js
  src/scss/_variables.scss
  src/scss/partials/_control-nav.scss
  src/scss/partials/_forms.scss
Due: eslint, prettier, stylelint, php

Updates to support Extended add-on
  admin/includes/settings.php
  admin/views/settings.php
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  src/js/components/InstantImages.js
  src/scss/partials/pro/_import.scss
Due: eslint, prettier, stylelint, php

Adding admin to build scripts
  admin/admin.php
  admin/includes/cta/permissions.php
  admin/includes/settings/api-settings.php
  admin/includes/settings/general-settings.php
  admin/includes/settings/header.php
  admin/includes/settings/licenses.php
  admin/includes/settings/our-plugins.php
  admin/includes/settings/save.php
  admin/includes/settings/whats-new.php
  admin/src/js/admin.js
  admin/vendor/EDD_SL_Plugin_Updater.php
  admin/views/settings.php
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  src/scss/partials/_admin.scss
  src/scss/partials/_forms.scss
  src/scss/partials/_settings.scss
  webpack.config.js
Due: eslint, prettier, stylelint, php

Adding functions to validate add-on licenses
  admin/admin.php
  admin/includes/settings.php
  admin/includes/settings/api-settings.php
  admin/includes/settings/licenses.php
  admin/src/js/admin.js
  admin/src/js/licenses.js
  admin/views/settings.php
  api/license.php
  api/settings.php
  build/admin/index.asset.php
  build/admin/index.js
  build/block/index.asset.php
  build/block/index.js
  build/instant-images.asset.php
  build/instant-images.js
  build/media-modal/index.asset.php
  build/media-modal/index.js
  build/plugin-sidebar/index.asset.php
  build/plugin-sidebar/index.js
  build/style-instant-images.css
  instant-images.php
  lang/instant-images.pot
  src/js/components/search/SearchForm.js
  src/scss/partials/_settings.scss
Due: eslint, prettier, stylelint, php

Updated styles
  build/style-instant-images.css
  src/scss/partials/_settings.scss
Due: stylelint
